.comment {
    margin-bottom: 2rem;
    border-bottom: 1px solid #ffffff1a;

    .contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .body {
        margin-bottom: 1rem;
    }
}